
    <div class="main-div xl:mx-auto xl:max-w-[1424px]">
        <div id="product-div" class="p-4">
            <div class="hidden lg:flex lg:flex-row justify-between">
                <div id="column-left" class="flex flex-col justify-center">
                    <img id="product-image" class="w-3/3" src="./assets/images/product/Imagem do produto.png"
                        alt="Product image">
                    <div class="flex justify-center items-center mt-4">
                        <la-icon icon="user" class="la-4x text-[#B35FD0]"></la-icon>
                        <la-icon icon="user" class="la-4x text-[#B35FD0]"></la-icon>
                        <la-icon icon="user" class="la-4x text-[#B35FD0]"></la-icon>
                        <la-icon icon="user" class="la-4x"></la-icon>
                        <la-icon icon="user" class="la-4x"></la-icon>
                        <span class="text-[#B35FD0] text-3xl font-bold ml-2 flex flex-row">
                            <h1 class="product-volunteers">3</h1>
                            <h1 class="mx-2">/</h1>
                            <h1 class="product-volunteers-needed">5</h1>
                        </span>
                    </div>
                </div>

                <div id="column-center">
                    <p class="product-name mt-4 text-3xl lg:mt-6">ABBA Gold Vinil</p>
                    <span class="flex mt-4 opacity-50 line-through">
                        <p class="text-2xl">R$</p>
                        <p class="product-original-price text-2xl">500,00</p>
                    </span>
                    <span class="flex items-center">
                        <p class="mt-1 mr-4 text-6xl font-bold">R$</p>
                        <p class="product-price text-6xl font-bold">450,00</p>
                        <p class="discount-tag text-3xl text-white p-1 ml-4 items-center">-10%</p>
                    </span>
                    <div class="flex flex-row mt-4 text-xl">
                        <p class="text-md">de&nbsp;</p>
                        <p class="text-[#B35FD0]">10x R$ 45,00 sem juros</p>
                    </div>
                    <div class="grid grid-cols-3 gap-4 mt-6 justify-between">
                        <p class="product-tag">Música</p>
                        <p class="product-tag">Vinil</p>
                        <p class="product-tag">Álbum</p>
                    </div>
                </div>

                <div id="column-right">
                    <div id="product-buy-field"
                        class="product-buy-field mt-4 border-2 border-solid p-4 items-center rounded-xl justify-center">
                        <div class="flex flex-row items-center justify-between">
                            <span id="product-quantity-span" class="flex flex-row items-center">
                                <label class="text-xl" for="product-quantity">Quantidade:</label>
                                <span>
                                    <select class="product-quantity-setter text-xl font-bold ml-2 w-[62px] h-[40px]"
                                        name="product-quantity">
                                        <option class="" value="1">1</option>
                                        <option class="" value="2">2</option>
                                    </select>
                                </span>
                            </span>
                            <span class="flex flex-row ">
                                <p class="text-xl">Frete:&nbsp;
                                <p class="text-xl font-bold mr-2">R$</p>
                                <p class="product-freight text-xl font-bold">15,00</p>
                            </span>
                        </div>
                        <div class="flex flex-col">
                            <button class="add-to-cart-button" type="button">
                                <p class="text-2xl py-2">Adicionar ao carrinho</p>
                            </button>
                            <button class="buy-button" type="button">
                                <p class="text-2xl text-white py-2">Comprar</p>
                            </button>
                        </div>
                    </div>

                    <div id="product-localizer" class="">
                        <div class="mt-6">
                            <p>Entregar em:</p>
                            <div class="flex flex-row items-center">
                                <la-icon icon="map-marker" class="p-1"></la-icon>
                                <p>
                                    SC, Blumenau, Fortaleza, R. Eclair Martin da Silva, 256
                                </p>
                            </div>
                        </div>
                        <div id="product-store" class="mt-4">
                            <p>Loja anunciante:</p>
                            <div [routerLink]="['../store']" class="flex flex-row items-center">
                                <la-icon icon="store-alt" class="p-1"></la-icon>
                                <span class="">
                                    <p class="cursor-pointer">Gira Discos</p>
                                    <p>
                                        SC, Gaspar, Santa Teresinha, R. Barão do Rio Branco, 13
                                    </p>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="lg:hidden">
                <div class="lg:items-center lg:flex lg:justify-center">
                    <img id="product-image" class="lg:w-9/12 lg:flex" src="./assets/images/product/Imagem do produto.png"
                        alt="Product image">
                </div>
                <div id="product-info" class="">
                    <p class="product-name mt-4 text-3xl lg:mt-6">ABBA Gold Vinil</p>
                    <span class="flex mt-4 opacity-50 line-through">
                        <p class="text-2xl">R$</p>
                        <p class="product-original-price text-2xl">500,00</p>
                    </span>
                    <span class="flex items-center flex-row">
                        <p class="mt-1 mr-2 text-5xl font-bold">R$</p>
                        <p class="product-price text-5xl font-bold lg:text-6xl">450,00</p>
                        <span class="ml-4 items-center">
                            <p class="discount-tag text-3xl text-white p-1">-10%</p>
                        </span>
                    </span>
                    <div class="flex justify-between items-center mt-4">
                        <la-icon icon="user" class="la-3x text-[#B35FD0]"></la-icon>
                        <la-icon icon="user" class="la-3x text-[#B35FD0]"></la-icon>
                        <la-icon icon="user" class="la-3x text-[#B35FD0]"></la-icon>
                        <la-icon icon="user" class="la-3x"></la-icon>
                        <la-icon icon="user" class="la-3x"></la-icon>
                        <span class="text-[#B35FD0] text-3xl font-bold ml-2 flex flex-row">
                            <h1 class="product-volunteers">3</h1>
                            <h1 class="mx-2">/</h1>
                            <h1 class="product-volunteers-needed">5</h1>
                        </span>
                    </div>
                </div>
                <div id="product-buy-field" class="mt-4">   
                    <div class="flex flex-row items-center justify-between">
                        <span id="product-quantity-span" class="flex flex-row items-center">
                            <label class="text-xl" for="product-quantity">Quantidade:</label>
                            <span>
                                <select class="product-quantity-setter text-xl font-bold ml-2 w-[62px] h-[40px]"
                                    name="product-quantity">
                                    <option class="" value="1">1</option>
                                    <option class="" value="2">2</option>
                                </select>
                            </span>
                        </span>
                        <span class="flex flex-row">
                            <p class="text-xl">Frete:&nbsp;
                            <p class="text-xl font-bold mr-2">R$</p>
                            <p class="product-freight text-xl font-bold">15,00</p>
                        </span>
                    </div>
                    <div class="flex flex-col">
                        <button class="add-to-cart-button" type="submit">
                            <p class="text-2xl py-2">Adicionar ao carrinho</p>
                        </button>
                        <button class="buy-button" type="submit">
                            <p class="text-2xl text-white py-2">Comprar</p>
                        </button>
                    </div>
                </div>
            </div>

            <div id="product-localizer" class="lg:hidden">
                <div class="mt-4">
                    <p>Entregar em:</p>
                    <div class="flex flex-row mt-2">
                        <la-icon icon="map-marker" class="p-1"></la-icon>
                        <p>SC, Gaspar, Santa Teresinha, R. Barão do Rio Branco, 13 </p>
                    </div>
                </div>
                <div id="product-store" class="mt-4">
                    <p>Loja anunciante:</p>
                    <div class="flex flex-row mt-2 items-center">
                        <la-icon icon="store-alt" class="p-1"></la-icon>
                        <span class="ml-1">
                            <p [routerLink]="['../store']">Bnu Vinis</p>
                            <p>Santa Catarina, Blumenau, Fortaleza, R. Eclair Martin da Silva, 256</p>
                        </span>
                    </div>
                </div>
            </div>

            <div id="product-description" class="mt-6">
                <p class="text-xl font-bold">Descrição:</p>
                <p class="mt-4 texl-md">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                    sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                    Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus.
                    Velit laoreet id donec ultrices tincidunt. Convallis posuere morbi leo urna.
                    Faucibus scelerisque eleifend donec pretium. Quis viverra nibh cras pulvinar mattis nunc.
                    Dictum fusce ut placerat orci nulla pellentesque. Id porta nibh venenatis cras sed felis eget.
                    Vitae nunc sed velit dignissim sodales ut eu. Dignissim diam quis enim lobortis
                    scelerisque fermentum dui faucibus. Sit amet porttitor eget dolor morbi non arcu risus quis.
                    Scelerisque viverra mauris in aliquam sem fringilla.</p>
            </div>

            <div id="product-rating" class="mt-6">
                <div class="flex flex-row items-center">
                    <p class="text-xl font-bold">Avaliações</p>
                    <p class="text-2xl ml-6 mr-4">5,0</p>
                    <span class="text-[#B35FD0] items-center flex mb-1">
                        <la-icon icon="star" class="text-2xl"></la-icon>
                        <la-icon icon="star" class="text-2xl"></la-icon>
                        <la-icon icon="star" class="text-2xl"></la-icon>
                        <la-icon icon="star" class="text-2xl"></la-icon>
                        <la-icon icon="star" class="text-2xl"></la-icon>
                    </span>
                </div>

                <div id="product-comments" class="mt-6">
                    <div class="user-comment">
                        <img class="user-comment-icon" src="./assets/images/product/user-l-orange.png" alt="user">
                        <div>
                            <div class="flex items-center">
                                <p class="user-comment-name mr-2">Leonardo Michel Bunn</p>
                                <span class="text-[#B35FD0] text-xl">
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                </span>
                            </div>

                            <p class="user-comment-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus.
                                Velit laoreet id donec ultrices tincidunt.</p>
                        </div>
                    </div>

                    <div class="user-comment">
                        <img class="user-comment-icon" src="./assets/images/product/user-m-pink.png" alt="user">
                        <div>
                            <div class="flex items-center">
                                <p class="user-comment-name mr-2">Marlon Luiz Bergamo</p>
                                <span class="text-[#B35FD0] text-xl">
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                </span>
                            </div>
                            <p class="user-comment-message">lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                Pellentesque pulvinar pellentesque habitant morbi tristique senectus et netus.
                                Velit laoreet id donec ultrices tincidunt. Convallis posuere morbi leo urna.
                                Faucibus scelerisque eleifend donec pretium.</p>
                        </div>
                    </div>

                    <div class="user-comment">
                        <img class="user-comment-icon" src="./assets/images/product/user-l-red.png" alt="user">
                        <div>
                            <div class="flex items-center">
                                <p class="user-comment-name mr-2">Leonardo Ribeiro</p>
                                <span class="text-[#B35FD0] text-xl">
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                    <la-icon icon="star"></la-icon>
                                </span>
                            </div>
                            <p class="user-comment-message">Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        </div>
                    </div>

                    <div class="mt-6 flex justify-center">
                        <la-icon icon="ellipsis-h" class="la-3x flex cursor-pointer"></la-icon>
                    </div>
                </div>
            </div>

            <div id="similiar-products" class="border-t-2 border-solid border-[#b6b6b6] mt-4 pt-4">

                <h1 class="text-2xl font-bold mt-4">Produtos similares:</h1>

                <div class="flex gap-1 mt-4 justify-between">
                    <div class="card flex w-[50%] lg:w-auto" id="modelo">
                        <img src="./assets/images/product/abba-dez-anos-vinil.jpg" alt="abba-dez-anos-vinil"
                            class="imagem-produto">

                        <h1 class="text-md mt-2 font-bold">
                            ABBA Dez Anos Vinil
                        </h1>

                        <div class="md:flex flex-col md:justify-between">
                            <div class="text-1xl md:text-2xl mt-1 font-bold text-[#B35FD0] line-through">R$ 169
                            </div>
                            <div class="product-price-card flex">
                                <div class="text-2xl lg:text-3xl font-bold text-black">R$ 140 </div>
                                <span class="text-md ml-1 mt-2 font-bold">00</span>
                                <span class="ml-4 text-[#B35FD0] text-xl font-bold">-17%</span>
                            </div>

                            <div class="text-md my-1">em 10x R$ 14</div>
                        </div>

                        <ul>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                        </ul>
                    </div>

                    <div class="card flex w-[50%] lg:w-auto" id="modelo">
                        <img src="./assets/images/product/abba-gold-lp-cd.webp" alt="abba-dez-anos-vinil"
                            class="imagem-produto">

                        <h1 class="text-md mt-2 font-bold">
                            ABBA Gold LP CD
                        </h1>

                        <div class="md:flex flex-col md:justify-between">
                            <div class="text-1xl md:text-2xl mt-1 font-bold text-[#B35FD0] line-through">R$ 150
                            </div>
                            <div class="product-price-card flex">
                                <div class="text-2xl lg:text-3xl font-bold text-black">R$ 130 </div>
                                <span class="text-md ml-1 mt-2 font-bold">00</span>
                                <span class="ml-4  text-[#B35FD0] text-xl font-bold">-15%</span>
                            </div>
                            <div class="text-md my-1">em 10x R$ 13</div>
                        </div>

                        <ul>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                        </ul>
                    </div>

                    <div class="card hidden w-[50%] lg:flex lg:w-auto" id="modelo">
                        <img src="./assets/images/product/bee-gees-love-hits.jpg" alt="bee-gees-love-hits-vinil"
                            class="imagem-produto">

                        <h1 class="text-md mt-2 font-bold">
                            Bee Gees Love Hits Vinil
                        </h1>

                        <div class="md:flex flex-col md:justify-between">
                            <div class="text-1xl md:text-2xl mt-1 font-bold text-[#B35FD0] line-through">R$ 80
                            </div>
                            <div class="product-price-card flex">
                                <div class="text-2xl lg:text-3xl font-bold text-black">R$ 60 </div>
                                <span class="text-md ml-1 mt-2 font-bold">00</span>
                                <span class="ml-4  text-[#B35FD0] text-xl font-bold">-25%</span>
                            </div>

                            <div class="text-md my-1">em 10x R$ 13</div>
                        </div>

                        <ul>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                        </ul>
                    </div>

                    <div class="card hidden w-[50%] lg:flex lg:w-auto" id="modelo">
                        <img src="./assets/images/product/a-ha-stay-on-these-roads.jpg" alt="a-ha-stay-on-these-roads-vinil"
                            class="imagem-produto">

                        <h1 class="text-md mt-2 font-bold">
                            A-ha Stay On These Roads
                        </h1>

                        <div class="md:flex flex-col md:justify-between">
                            <div class="text-1xl md:text-2xl mt-1 font-bold text-[#B35FD0] line-through">R$ 150
                            </div>
                            <div class="product-price-card flex">
                                <div class="text-2xl lg:text-3xl font-bold text-black">R$ 130 </div>
                                <span class="text-md ml-1 mt-2 font-bold">00</span>
                                <span class="ml-4  text-[#B35FD0] text-xl font-bold">-15%</span>
                            </div>

                            <div class="text-md my-1">em 10x R$ 13</div>
                        </div>

                        <ul>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="volunteer-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                            <li class="empty-icon">
                                <la-icon icon="user"></la-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
