.card {
    padding: 8px;
    border: 2px solid rgba(81, 88, 112, .4);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: pointer;

    &:hover {
        border-color: #B35FD0;
        transition: .5s;
    }
}

.card:hover {
    border-color: #B35FD0;
}

.imagem-produto {
    max-width: 264px;
    max-height: 264px;
    justify-self: center;
    text-align: center;
}

.product-price {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    align-items: center;
}

.card ul {
    display: flex;
    justify-content: center;
}

.card i {
    font-size: 18px;
    line-height: 28px;
}
#volunteers {
    padding: 7px;
    display: flex;
    color: #B35FD0;
}
#volunteers ul i {
    font-size: 1.6rem; 
    margin-right: 2px;
    margin-left: 3px;
    justify-content: center;
}
.black-icon {
    color: black;
    justify-content: center;

  }

.product-price {
    display: flex;
    flex-direction: row;
    margin-top: 4px;
    align-items: center;
}

 

@media (min-width: 1024px) {
    .card li {
        font-size: 30px;
        line-height: 36px;
    }
    .empty-icon {
        margin: 8px;
    }
     
    #img-content{
        text-align: center;
    }
    #volunteers i {
        font-size: 1.7rem; 
        margin-right: 2px;
        margin-left: 3px;
        
    }
    .imagem-produto {
        max-width: 100%;
        height: auto;
    }
}