body {
    color: rgba(0, 0, 0, .8);
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: #fff;
    justify-content: center;
}
 
#header {
    height: 92px;
    background: linear-gradient(90deg, rgba(58, 49, 160, 0.64) 0.02%, rgba(179, 95, 208, 0.70) 43.93%, rgba(238, 98, 224, 0.67) 87.48%);
    align-content: center;
}
 
#header-content {
    justify-self: center;
}
 
#header-search-bar {
    width: 552px;
    height: 36px;
    border-radius: 20px;
}
 
#header-search-bar-input {
    font-size: 12px;
    font-weight: 400px;
    opacity: .5;
    flex-grow: 1;
}
 
#header-search-bar-input:focus {
    outline: none;
}
 
 
nav ul li {
    width: 120px;
    margin: 8px 16px 8px 16px;
    padding: 15px;
}
 
.sub-menu {
    display: none;
    text-align: center;
    border-radius: 8px;
    color: #ffffff;
}
 
.sub-menu li {
    border-radius: 8px;
}
 
.sub-menu li:hover {
    background-color: #858ed4;
}
 
nav ul li:hover .sub-menu {
    display: block;
    position: absolute;
    background-color: #414881;
    margin-top: 15px;
    margin-left: -32px;
}

.login-container {
    background: #fff;
    border-radius: 8px;
    padding: 16px;
    width: 400px;
}

.invalid-label {
    border: 2px solid rgb(190, 29, 83) !important;
}

.profile-details input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

.purple-button {
    background-color: #8e44ad;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
}

.profile-form label {
    font-size: 20px;
    color: #000000;
    margin-bottom: 0px;
    margin-top: 20px;
}

.profile-form input {
    border: 2px solid transparent;
    transition: border-color 0.3s;
    font-size: 20px;
    border-radius: 5px;
    padding-left: 12px;
    padding-right: 12px;
}

.profile-form input:focus {
    border-color: #8e44ad;
    outline: none;
}

.save-button button {
    background: linear-gradient(99deg, rgba(137, 67, 203, 0.71) 0%, rgba(204, 71, 225, 0.69) 56.77%, rgba(137, 69, 204, 0.70) 98.96%, rgba(230, 34, 234, 0.70) 98.97%);
    font-size: 18px;
    border-radius: 5px;
}

.profile-form input {
    background-color: #cccccc67;
    height: 52px;

}

#edit {
    color: #8e44ad;
    cursor: pointer;
}