
	<footer class="footer">
		<div class="container flex md:block justify-center">
			<div class="row lg:flex">
				
				<div class="flex items-center">
					<img class="size-24 hidden lg:flex" src=".\assets\images\footer\we_buy_it_bag_logo.png" alt="we_buy_it_logo">
					<img class="hidden lg:flex" src=".\assets\images\footer\we_buy_it_white.png" alt="">
				</div>

				<div class="footer-col">
					<h4 class="underline underline-offset-8 decoration-pink-500">WeBuyIt</h4>
					<ul>
						<li><a href="#">Sobre nós</a></li>
						<li><a href="#">Política de Privacidade</a></li>
					</ul>
				</div>
				<div class="footer-col justify-center">
					<h4 class="underline underline-offset-8 decoration-pink-500">Ajuda</h4>
					<ul>
						<li><a href="#">FAQ</a></li>
						<li><a href="#">Status do pedido</a></li>
						<li><a href="#">Opções de pagamento</a></li>
					</ul>
				</div>
				<div class="footer-col">
					<h4 class="underline underline-offset-8 decoration-pink-500">Nossas Redes</h4>
					<div class="social-links flex">
						<a  href="https://www.instagram.com/webuy_it?igsh=MTFseG8wbW9rMjg2bw%3D%3D&utm_source=qr" class="flex items-center justify-center"> <img class="size-6" src=".\assets\images\footer\icons8-instagram-48.png" alt=""></a>
						<a  href="https://linktr.ee/webuyit?utm_source=linktree_profile_share" class="flex items-center justify-center"> <img class="size-6" src=".\assets\images\footer\icons8-linkedin-30.png" alt=""></a>
					</div>
				</div>

			</div>
		</div>
	</footer>



